
.WomenProducts {
    font-family: "Roboto Condensed","poppins", sans-serif;
    font-weight: 500px;
    font-size: 20px;
    color: rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
    align-items: start; 
    gap: 10px; 
}

.productImg {
    height: 300px;
    width: 200px;
}

.productImg:hover {
    transform: scale(1.05);
    transition: 0.5s;
}



