@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');


* {color: rgb(0, 0, 0);
    box-sizing: border-box;

}

.navbar {
    display: flex;
    justify-content: space-between;;
    height: 10vh;
    align-items: center;
    padding: 20px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: rgb(24,24,24);

}

.logo {
    font-size: xx-large;
    text-decoration: none;
    font-family: 'Protest Riot', sans-serif;
    color: #ffffff
}


.menuItems {
    display: flex;
    list-style: none;
    gap: 30px;
    
    
}

.itemDesign {
    
    text-decoration: none;
    color:rgb(207, 206, 206) ;
    
}     

 .itemDesign::after{
    content: "";
    height: 2px;
    width: 100%;
    background: #FF5700;
    display: block;
    opacity: 0;
    transition: all 0.2s;
 }

 .menuItems:hover .itemDesign {
   
    color: rgb(80, 80, 80);
}

.menuItems .itemDesign:hover {
   
   color: #ffffff;
    
} 

 .itemDesign:hover::after {
    opacity: 1;
 }

.navLoginCart {
    display: flex;
    gap: 20px;
    
}

.wishList {
    display: flex;
    align-items:center;
    text-decoration: none; 
     
}

a span {
    color: #ffffff;
}

.logIn {
    padding: 5px 10px;
    width: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: black;
    background-color: #ffffff;
    border-radius: 75px;
    cursor: pointer;
}

.logIn:active {
    background-color: #FF5700;
    color: white;
}


.shoppingCart {
    display: flex;
    align-items: center;
    text-decoration: none;
}


.navCartCount {
    background-color: #FF5700;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -25px;
    border-radius: 100px;
    font-size: 14px;
    
}


