
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 50px;
    font-family:  "kanit",'poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #565c58;
    background-color: #e4e4e4;
}

.logo {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Protest Riot', sans-serif;
    font-size: 50PX;
    color: #000000;
    text-decoration: none;

}

.informationSection {
    font-family: "kanit",'poppins', sans-serif;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.policySection {
    font-family: "kanit",'poppins', sans-serif;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.policies {
    font-family: "kanit",'poppins', sans-serif;
    font-weight: 300px;
    font-size: 20px;
}
/* Clear link underline decoration on 'Link & a' element */ 
a {
    text-decoration: none;
    color: #505050;
}

.socialMedia {
   display: flex;
   flex-direction: row;
   justify-content: start;
   align-items: center;
   gap: 20px;
   margin-top: 5px;
}

.facebookLogo {
    width: 30px;
    height: 30px;
}
.whatsappLogo {
    width: 30px;
    height: 30px;
}