
.menProducts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.productImg {
    height: 300px;
    width: 200px;
}

.productImg:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
