
.menProducts {
    font-family: "Source Code Pro","poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: start; 
    gap: 10px; 
}

.productImg {
    height: 400px;
    width: 300px;
}

.productImg:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.productPrice{
    font-family: "Source Code Pro","poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(58, 58, 58);
}